<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <bindingRedirect newVersion="4.0.0.0" xdt:Locator="XPath(configuration/runtime/assemblyBinding/dependentAssembly/bindingRedirect[@oldVersion='0.0.0.0-4.3.0.0'])" xdt:Transform="SetAttributes(newVersion)"/>
</configuration>